body {
    margin: 0;
}

.circle {
    /* These properties should be set dynamically */
    width: auto;
    height: auto;
    left: auto;
    top: auto;

    border: solid 1px black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    border-left: solid 1px #ccc;
    padding: 20px;
}
