body {
    margin: 0;
}

p {
    margin-top: 0;
}

span {
    color: white;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
}

.left-sidebar {
    top: 0;
    left: 0;
}

.right-sidebar {
    top: 0;
    right: 0;
}
