body {
    margin: 0;
}

p {
    margin-top: 0;
}

span {
    color: white;
}

.right {
    float: right;
}

.sidebar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
}

.top-left-sidebar {
    top: 0;
    left: 0;
    width: 300px;
}
.top-right-sidebar {
    top: 0;
    right: 0;
    width: 300px;
}
.bottom-left-sidebar {
    bottom: 0;
    left: 0;
    width: 600px;
}
.bottom-right-sidebar {
    bottom: 0;
    right: 0;
    width: 600px;
}
